html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-weight: 300;
  font-family: "Montserrat", "PT Serif";
  font-size: 20px;
  line-height: 1;
  color: #646667;
}

a {
  text-decoration: none;
}
/* page */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
}

._container {
  max-width: 1170px;
  padding: 0 0px;
  margin: 0px auto;
  box-sizing: content-box;
}

/* header */


.header {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 41px 0;
  justify-content: space-between;
}

.header__menu {
}
.menu {
  padding: 0 0 0 221px;
  
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  padding: 0 28px 0 0;
  
}
.menu__link {
  font-size: 12px;
  line-height: 30%;
  color: #646667;
  letter-spacing: 1px;
  font-weight: 700;
  
  
}
.menu__link:hover {
  text-decoration: underline;
}

/* ----main-block---- */

.main-block {
  position: relative;
 max-width: 1170px;
 margin: 0 auto;
}
.page__main-block {
}
.main-block__container {
  padding: 0 100px;
}

.main-block__body {
  position: relative;
  z-index: 2;
 
  
}
.main-block__tittle {
  
  font-family:'PT Serif', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
}

.main__tittle {
  top: 232px;
  right: 0;
 position: absolute;
 z-index: 2;
 max-width: 770px;

}
.main-block__tittle {
 
}
.main__texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.main-block__text {
 
  padding: 48px 0;
  max-width: 970px;
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
}
@media (min-weidth: 1044px) {
  .main-block__text {
    flex: 0 1 auto;
  }
}
.main-block__buttons {
  display: flex;
  justify-content: center;
  
}
.main-block__button {
  background: #007397;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 20px;
  border: 1px solid #007397;
  transition: all 0.3s ease 0s;

}
.main-block__button:hover {
  background-color: white;
  color: #007397;
  border: 1px solid #007397;
}

.main-block__image {
  position: relative;
  display: flex;
  justify-content: center;
  
  
}



.main-block__image img {
  width: 1170px;
  padding: 0 135px;  
  box-sizing: content-box;  
}
._ibg {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
}
._ibg::after {
  content: '';
  transform: rotate(20deg); 
  position: absolute;
  width: 450px;
  height: 130%;
  left: -118px;
  top: -95px;
  background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);

}

/* --------investor------------- */

.page__investor {
}
.investor {
}
.page-investor__contgainer {
}

.page-investor__info {
}
.page-investor__title {
  padding: 91px 0 48px 0;
  font-family: PT Serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #3C3F3D;
  text-transform: uppercase;
}
.page-investor__text {
  max-width: 670px;
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
}
.page-investor__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.page-investor_column__stats {
padding: 48px 0 2px 0;
}
.page-investor_column__stats:not(:last-child) {
  
}
.page-investor_column__number {
  display: flex;
  justify-content: center;
  font-family: PT Serif;
font-weight: 400;
font-size: 54px;
line-height: 100%;
color: #007397;
}
.page-investor_colum__text {
  display: flex;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #AEC3D4;
  justify-content: center;
}
.page-investor__button {
  padding: 48px 0 0 0;
  
}

.page-investor__link:hover {
  background-color: white;
  color: #007397;
  border: 1px solid #007397;
}
.page-investor__link {
  background: #007397;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 86px;
  transition: all 0.3s ease 0s;

}

/* ---------news-media------------ */

.page__news {
}
.page-news__container {
  margin-top: 95px;
}
.page-news__header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.page-news__tittle {
  margin-bottom: 48px;
  font-family: PT Serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3C3F3D;
}
.page-news__menu {
  
}
.page-news__list {
  display: flex;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
}
.page-news__item:not(:last-child) {
  margin: 0 67px 0 0;
}
.page-news__item {
  

}
.page-news__link {
  color: #D3CFCE;
}
.news_all {
  color: #007397;
}
.page-news__column {
  display: flex;
  flex-wrap: wrap;
  
}

/* ----media------- */

.page__media {
  
 
}
.page-media__container {
}
.page-media__body {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;  
}
.page-media__column {
  max-width: 370px;
  flex: 1 1 33.333%;  
}

.page-media__item {  
}
.page-media__image { 
}
.page-media__image {
  max-height: 370px;
 
}
.page-media__header {
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  
  margin: -346px 30px;
}
.page-media__title {
  max-width: 320px;
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: white;
  text-transform: uppercase;
  margin: -137px 30px;

}
.page-media__text {
margin: 32px 0 0 0;
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 200%;
}
.page-media__button {
  padding: 32px 0;
  color: #007397;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
}
.page-media__link {
  color: #007397;

}

/* ----map---- */

.page__location {
}
.page__container {
  margin-top: 104px;
}

.page-location__title {
  padding: 44px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: PT Serif;
  color: #3C3F3D;
}
.page-location__map {
}



.footer {
}
.footer-container {
}
._container {
}
.footer-column {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 44px;
}
.footer-item {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  
  
}
.footer-nav {
}
.footer-link {
  padding-left: 30px;
}
/* .media__column {
  flex: 0 1 33.333%;

}
.media__image {
  position: absolute;
justify-content: center;
}
.image__header {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  
  margin: 24px 30px;
}

.image__content {
  position: relative;
margin-bottom: 20px;
}
.image__title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: white;
  text-transform: uppercase;
  margin: 190px 30px 77px 30px;
}
.media__text {


  
}
.media__button {
}
.media_link {
} */